# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.VirtualBox/
.anaconda/
.android/
.bash_history
.codeium/
.continuum/
.cufflinks/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.node_repl_history
.ploomber/
.thumbnails/
.vscode/
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Microsoft/
Music/
OneDrive/
Pictures/
Saved Games/
ScreenPal/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
